@import 'reset';

$font-family: "Amatica SC";
$text-font-family: "Lora";
$start-color: #bf8040;
$end-color: #392613;

@mixin background-gradient($startColor, $endColor) {
	background: $startColor;
  	background-image: -webkit-linear-gradient(top, $startColor, $endColor);
  	background-image: -moz-linear-gradient(top, $startColor, $endColor);
  	background-image: -ms-linear-gradient(top, $startColor, $endColor);
  	background-image: -o-linear-gradient(top, $startColor, $endColor);
  	background-image: linear-gradient(to bottom, $startColor, $endColor);
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
  	-moz-border-radius: $radius;
  	border-radius: $radius;
}

body {
	//background-color: red;
	background: url("images/sky.jpg") no-repeat;
}

#container {
	width: 75%;
	margin: auto;

	.header {

		.title {
			font-family: $font-family;
			font-size: 60px;
			text-align: center;
		}

		address {
			font-family: $font-family;
			font-size: 30px;
			text-align: center;
			position: relative;
			top: 25px;
		}

		@media all and (max-width: 600px) {
			.title {
				font-size: 40px;
			}

			address {
				font-size: 20px;
				position: relative;
				top: 12px;
			}
		}

		img {
			width: 100%;
			vertical-align: middle;
		}
	}

	nav {
		ul {
			margin: 5px 0px;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;

			li {
				flex-grow: 1;
				flex-basis: auto;
			}



			li > a {
				display: inline-block;
				width: 100%;
				padding: 12px 0px;
				text-align: center;
				color: white;
				text-decoration: none;
				font-family: $font-family;
				font-size: 2em;
				@include background-gradient($start-color, $end-color);
				@include border-radius(5px);
			}

			li > a:hover {
				@include background-gradient($end_color, $start-color);
			}

			li > a.selected {
				font-weight: bold;
				color: #ffff99;
			}
		}

		@media all and (max-width: 600px) {
			ul {
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;

				li > a {
					font-size: 1.0em;
				}
			}
		}
	}
}