@import 'reset';

$font-family: "Amatica SC";
$text-font-family: "Lora";
$start-color: #bf8040;
$end-color: #392613;

@mixin background-gradient($startColor, $endColor) {
	background: $startColor;
  	background-image: -webkit-linear-gradient(top, $startColor, $endColor);
  	background-image: -moz-linear-gradient(top, $startColor, $endColor);
  	background-image: -ms-linear-gradient(top, $startColor, $endColor);
  	background-image: -o-linear-gradient(top, $startColor, $endColor);
  	background-image: linear-gradient(to bottom, $startColor, $endColor);
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
  	-moz-border-radius: $radius;
  	border-radius: $radius;
}

@mixin border-top-radius($radius) {
	-webkit-border-radius: $radius $radius 0px 0px;
  	-moz-border-radius: $radius $radius 0px 0px;
	border-radius: $radius $radius 0px 0px;
}

#container {
	width: 75%;
	margin: auto;

	.header {

		.title {
			font-family: $font-family;
			font-size: 60px;
			text-align: center;
		}

		address {
			font-family: $font-family;
			font-size: 30px;
			text-align: center;
			position: relative;
			top: 25px;
		}

		@media all and (max-width: 600px) {
			.title {
				font-size: 40px;
			}

			address {
				font-size: 20px;
				position: relative;
				top: 12px;
			}
		}

		img {
			width: 100%;
			vertical-align: middle;
		}
	}

	@import 'navigation';
	@import 'gallery';
}